@import url('variables.css');
@import url("https://use.typekit.net/vpz4ntx.css");

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: var(--bg-color);
}

.container {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    font-family: "novecento-sans", sans-serif;
    font-weight: 200;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5vh;
}

.banner1 img, .banner2 {
    width: 95vw;
    border: 9px solid var(--db-color);
    border-radius: 20px;
}

.banner2 {
    margin-block: 5vh;
}

.containerfooter{

    color: white;
    font-family: "novecento-sans", sans-serif;
    font-weight: 200;
    font-style: normal;
    background-color: var(--db-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.top{
    min-height: 20vh;
    display: flex;
    flex-direction: row;
    background-color: var(--db-color);
}

.bottom{
    background-color: var(--db-color);
    margin-inline: 1vw;
    margin-top: 1vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

hr{
    background-color: var(--db-color);
    width: 95vw;
    height: 2px;
    box-shadow: none;
    background-color: var(--bb-color);
    border-color: var(--bb-color);
}

.newsletter{
    text-align: left;
    margin-top: 50px;
    color: var(--font_50);
    width: 50%;  
}

.newsletter_text, .apply{
    margin-left: 50px;
    font-size: 20px;
}

.lists{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 50%;
}

.image img{
    margin-left: 50px;
    width: 7vw;
}

button{
    padding-inline: 80px;
    padding-block: 1.5vh;
    border: 1px solid transparent;
    border-radius: 10px;
    background-color: var(--bb-color);
    color: white;
    font-family: "novecento-sans", sans-serif;
    font-weight: 200;
    font-size: 20px;
    position: absolute;
}

input{
    color: var(--font_50);
    border: 1px solid transparent;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.1);;
    font-family: "novecento-sans", sans-serif;
    font-weight: 200;
    font-size: 20px;
    padding-inline-end: 100px;
    padding-inline-start: 30px;
    padding-block: 1.5vh;
}

input:focus {
    outline: none;
}

.list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 2vh;    
}