@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --bg-color: #F3FAFF;
    --db-color: #0D2B40;
    --bb-color: #1A557F;
    --button1-color: green;
    --button2-color: gray;

    --font-family: 'Work Sans', sans-serif;
} 